<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
      @include{styles_path}
    </style>
    
</head>
<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-8">
          <h2>
            @if{link != empty}
                <a href="@{link}">@{position != empty ? position : ''}</a>
            @else{}
                @{position != empty ? position : ''}
            @end{}
          </h2>
          <h4>
            @if{company.url != empty}
                <a href="@{company.url}">@{company.name}</a>
            @else{}
                @{company.name != empty ? company.name : ''}
            @end{}
            
            @if{address != empty}
                (@{address})
            @end{}
          </h4>
          <h4>@{portal != empty ? portal : ''}</h4>
        </div>
        
        <div class="col-xs-4" style="text-align: right;">
          <h2>
            @if{rating == 0}
                &#9734; &#9734; &#9734; &#9734; &#9734;
            @else{rating == 1}
                &#9733; &#9734; &#9734; &#9734; &#9734;
            @else{rating == 2}
                &#9733; &#9733; &#9734; &#9734; &#9734;
            @else{rating == 3}
                &#9733; &#9733; &#9733; &#9734; &#9734;
            @else{rating == 4}
                &#9733; &#9733; &#9733; &#9733; &#9734;
            @else{}
                &#9733; &#9733; &#9733; &#9733; &#9733;
            @end{}
          </h2>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12">
            @{label_salary} @{salary != empty ? salary : 'N/A'}
        </div>
      </div>
      
      @if{contacts.size() > 0}
        <div class="row">
          <div class="col-lg-12">
            <h2>@{label_contacts}</h2>
            <table class="table table-condensed">
              <tbody style="font-size: 12px;">
                @foreach{contact : contacts}
                  <tr>
                    <td>@{contact.name != empty ? contact.name : ''}</td>
                    <td>@{contact.position != empty ? contact.position : ''}</td>
                    <td>
                      <a href="tel:@{contact.phone != empty ? contact.phone : ''}">
                        &#9742; @{contact.phone != empty ? contact.phone : ''}
                      </a>
                    </td>
                    <td>
                      <a href="mailto:@{contact.email != empty ? contact.email : ''}">
                        &#9993; @{contact.email != empty ? contact.email : ''}
                      </a>
                    </td>
                  </tr>
                @end{}
              </tbody>
            </table>
          </div>
        </div>
      @end{}
      
      <hr>
      
      <div class="row">
        <div class="col-lg-12">
            <div style="white-space: pre-wrap;">@{description}</div>
        </div>
      </div>
    </div>
    <hr>
</body>
</html>