.job-list-view-label {
    
}

#job-list-view-label-1 {
    -fx-font-size: 10pt;
}

#job-list-view-label-2 {
    -fx-font-size: 8pt;
    -fx-text-fill: lightgrey;
}

.deleted-label .text {
    -fx-strikethrough: true;
}

.form-textfield {
}

.form-textarea {
    
}

.form-title {
    -fx-pref-height: 25px;
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
}

.dialog-toolbar {
}

.job-form-button {
    -fx-fill: green;
    -fx-alignment: center_left;
}

.job-form-button .text{
    -fx-fill: red;
    -fx-alignment: left;
}

.form-container {
    -fx-background-color: white;
    -fx-border-color: #ececec;
    -fx-padding: 10px;
}

#dialog-bottom-square {
    -fx-fill: white;
    -fx-stroke-width: 0;
}

.dialog-separator-line {
    -fx-stroke-width: 0.2px;
    -fx-stroke-color: #ececec;
}

.dialog-toolbar {
    -fx-background-color: white;
}

.job-form-list-view {
    -fx-background-insets: 0;
    -fx-fixed-cell-size: 40px;
    -fx-border-color: #ececec;
}

.job-form-list-view .virtual-flow .clipped-container .sheet .list-cell {
    -fx-padding: 5;
}

.job-list-view {
    -fx-background-insets: 0;
    -fx-fixed-cell-size: 40px;
    -fx-border-color: #ececec;
}

.job-list-view .virtual-flow .clipped-container .sheet .list-cell {
    -fx-padding: 0;
}

.error-label {
    -fx-background-color: yellow;
    -fx-pref-height: 30px;
    -fx-pref-width: 1000px;
}

.feed-list-view-icon {
    
}

.feed-list-view-label {
    -fx-pref-height: 16px;
}

.feed-list-view-label-highlight {
    -fx-font-weight: bold;
}